 @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Montserrat:wght@300&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Montserrat';
    color: #333;
    line-height: 1.6;
}
h1,
h2 { 
    font-weight: 300;
    font-family: 'alkatra';
    line-height: 1.2;
    margin: 10px 0;
}

ul {
    list-style-type: none;
}
a{
    text-decoration: none;
    color: #333;
}

p {
    margin: 10px 0;

}